@mixin bg-gradient {
  // Taken from: https://cssgradient.io/gradient-backgrounds/
  background-color: #ffdee9;
  background-image: linear-gradient(30deg, #ffdee9 0%, #b5fffc 100%);
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  @include bg-gradient;
}
.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

$layout-header-height: 52px;

.header {
  height: $layout-header-height;
}
.footer {
  height: $layout-header-height;
  display: flex;
  justify-content: center;
  align-items: center;
}
