@import 'src/styles/_variables.scss';

.container {
  max-width: $sider-width--expanded;
  padding: 0 0 20px 0;
  flex-grow: 1;
  border-right: 1px solid $border-color;
}
.collapsed {
  max-width: $sider-width--collapsed;
}

.logo {
  height: $top-nav__height;
  display: flex;
  align-items: center;
  margin-left: calc(
    #{$desktop-sider__pointer-width} + #{$desktop-sider__icon-margin}
  );
}
