@import 'src/styles/_variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color--secondary;
  gap: 8px;
  font-size: 24px;
}
