@import 'src/styles/_variables.scss';

$border-radius: 12px;
// [Block]:
$block-padding: 16px;
.block {
  border-radius: $border-radius;
  border: 1px solid $border-color;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 4px 12px;
}
.blockPadded {
  padding: $block-padding;
}
.section {
  padding: $block-padding;
}

.separator {
  height: 1px;
  background: $border-color;
  width: 100%;
}

// [Spacing]:
.spacing {
  height: 12px;
}

.container {
  max-width: 912px;
}

.main {
  padding: 0;
}

.cover {
  height: 200px;
  width: 100%;
  border-radius: $border-radius $border-radius 0 0;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.profileWrapper {
  height: 150px;
  background: #fff;

  margin-top: -28px;
  border-radius: $border-radius;

  display: flex;
}

.profileInfoWrapper {
  margin: 36px 16px 16px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  position: relative; // for `.qrCodePanel`
}

.qrCodePanel {
  $padding: 16px;
  $qr-code-displacement-rate: 4px;
  padding: $padding $padding #{$padding - $qr-code-displacement-rate} $padding;
  background: #fff;
  border-radius: 8px;
  border: 1px solid $border-color;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  position: absolute;
  top: -192px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}
.subtitle {
  color: $text-color--secondary;
}

.moreDropdown {
  margin-left: 8px;
}
.moreDropdownIcon {
  margin-left: 8px;
}

.contacts {
  position: sticky;
  top: 66px;
}
.contactsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contantListItem {
  max-width: 180px;
}

$gap: 2px;
.imageGrid {
  display: flex;
  flex-wrap: wrap;
  gap: $gap $gap;
}
.image {
  $num-of-images-in-row: 4;
  $num-of-spaces-between-images-in-a-row: $num-of-images-in-row - 1;

  width: calc(25% - #{$num-of-spaces-between-images-in-a-row * $gap / $num-of-images-in-row});
  border-radius: 2px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

$corner-radius: 8px;
.imageTopLeftBorderRadius {
  border-top-left-radius: $corner-radius;
}
.imageTopRightBorderRadius {
  border-top-right-radius: $corner-radius;
}
.imageBottomLeftBorderRadius {
  border-bottom-left-radius: $corner-radius;
}
.imageBottomRightBorderRadius {
  border-bottom-right-radius: $corner-radius;
}

.noDescription {
  // height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.h100 {
  height: 100%;
}
.mh100px {
  min-height: 100px;
}
