.inputIcon {
  color: #d9d9d9;
}

.formCard {
  width: 480px;
  background: #fff;
  box-shadow: 0 24px 64px #26214a1a;
  border-radius: 12px;
  padding: 30px 60px;
  position: relative;
}

.welcomeBack {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dontHaveAnAccount {
  display: flex;
  justify-content: center;
  align-items: center;
}
