@import 'src/styles/_variables.scss';

.topNav {
  height: $top-nav__height;
  background: $background-color;
  border-bottom: 1px solid $border-color;

  position: sticky;
  top: 0;
}

.accountDropdown {
  margin-right: 20px;
}
