@import 'src/styles/_variables.scss';

$border-radius-8px: 8px;

.bordered {
  border-radius: $border-radius-8px;
}

.alert {
  border-radius: $border-radius-8px;
}

.input {
  border-radius: $border-radius-8px;
}

.button {
  border-radius: $border-radius-8px;
}

.dropdownButton {
  border-radius: $border-radius-8px;
}
.dropdownOverlay {
  ul {
    border-radius: $border-radius-8px;
  }
}

.select {
  :global(.ant-select-selector) {
    border-radius: $border-radius-8px !important;
  }
}

.tabs {
  // :global(.ant-tabs-ink-bar) {
  //   background: $primary-color;
  // }

  // :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
  //   color: $primary-color !important;
  // }

  // :global(.ant-tabs-tab) {
  //   &:hover {
  //     color: $primary-color !important;
  //   }
  // }
}

.tooltipOverlay {
  :global(.ant-tooltip-inner) {
    background: rgba($background-color, 0.95);
    color: $text-color--primary;
    border-radius: 4px;
  }
}
