@import 'src/styles/_variables.scss';

.backButton {
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 12px;
  // position: sticky;
  // top: 64px;
}

$padding: 20px;
.page {
  padding: $padding;
  flex-grow: 1;
}
.pageMobile {
  padding-bottom: $mobile-menu-height + $padding;
}
