@import 'src/styles/_variables.scss';

.toggler {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .email {
    color: $text-color--primary;
    // color: $text-color--secondary;
  }

  .avatar {
    margin-left: 8px;
  }
}
